<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h3><span class="lab la-accusoft"></span><span>4G SYS</span></h3> 
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/user/dashboard"><span class="las la-tv"></span>
                <span>Dashboard</span></a>
            </li>
            <li>
                <a href="/user/datatables?phase=0"><span class="las la-table"></span>
                <span>Data Tables</span></a>
            </li>
            <li>
                <a href="/user/alarms"><span class="las la-bell"></span>
                <span>Alarms</span></a>
            </li>
            <li>
                <a href="/user/report"><span class="las la-pen"></span>
                <span>Reports</span></a>
            </li>
            <li>
                <a href="/user/maps"><span class="las la-map"></span>
                <span>Maps</span></a>
            </li>
            <li>
                <a href="/user/manage"><span class="las la-users"></span>
                <span>Manage</span></a>
            </li>
        </ul>
    </div>    
</div>
